
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'assets/plugins/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/pace/pace-theme-big-counter.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/main-style.css' %}" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="{% static 'assets/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />

