{% load static %}
<script src="{% static 'assets/plugins/jquery-1.10.2.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'assets/plugins/pace/pace.js' %}"></script>
<script src="{% static 'assets/scripts/siminta.js' %}"></script>
<!-- Page-Level Plugin Scripts-->
<script src="{% static 'assets/plugins/morris/raphael-2.1.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/morris/morris.js' %}"></script>
<script src="{% static 'assets/scripts/dashboard-demo.js' %}"></script>