<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @page{
        size: "A4";
        margin: 2.5cm 1.5cm 3.5cm 1.5cm;
        }
        @top-center{
        content: "Islamic Information";
        }
        @bottom-right{
            content: "Page " counter(page) "of " counter(pages);
        }
    </style>
</head>
<body>
<h3>Zone List</h3>

<div class="row">
    <div class="col-md-12">
         <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Employee List
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Title</th>
                                <th>Zone</th>
                                <th>Branch</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for employee in expenses %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ employee.employee_id }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.employee_designation.designation }}</td>
                                <td>{{ employee.title.title }}</td>
                                <td>{{ employee.zone.zone }}</td>
                                <td>{{ employee.branch }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>

</body>
</html>