{% extends 'backend/base.html' %}

{% block content %}
<div class="div">
    <a href="{% url 'user-list-pdf_page' %}" class="btn btn-primary">Export-pdf</a>
    <a href="{% url 'registration' %}" class="btn btn-primary">Add New Registration</a>
</div>
<div class="row">
    <div class="col-md-10">
         <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Registration List
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in registrations %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ registration.username }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>

{% endblock %}